<p>sbd-percard works!</p>
<!--</div>-->
<!--<br>Input contact Information: <input type = "text" [(ngModel)]="contactInf">-->
<!--&lt;!&ndash;<br>Input phone number: <input type = "text" [(ngModel)]="number">&ndash;&gt;-->
<!--<br><button (click)="addString(contactInf)">Add to Table</button>-->
<!--<br>Contact arr:-->
<!--<div *ngFor="let numb of arr; index as i">-->
<!--  {{numb}}<button (click)="delString(i)">Delete button</button>-->
<!--</div>-->
<!--<br>Input string Number to Delete: <input type = "number" [(ngModel)]="delContact">-->
<!--<br><button (click)="delString(delContact)">Delete</button>-->
<!--<br>Input string Number to Change: <input type = "number" [(ngModel)]="chanString">-->
<!--<br>Input string New Information: <input type = "text" [(ngModel)]="newInf">-->
<!--<br><button (click)="changeString(chanString, newInf)">Change</button>-->
<!--<div *ngFor="let number of arr">-->
<!--  {{number}}-->
